body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 15px 60px;

}
.header .logo {
    font-size: 24px;
     color: #F9FAF8;
}
.intro-section {
    display: flex;
    background-color: #1F2937;
    padding: 60px;
    gap: 20px;
    justify-content: center;

}
.intro-section .title {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}
.intro-section p, a {
    font-size: 18px;
    color:#E5E7EB;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: 30px;
    align-items: center;

}
.intro-section-image_placeholder {
    background-color: #E5E7EB;
    padding: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.signup {
    padding: 3px 20px;
    border-radius: 7px;
    color: white;
}
.intro-section-left .signup {
    background-color: #3882F6;
}
.bottombox .signup {
    padding: 3px 20px;
    border-radius: 7px;
    background-color: #3882F6;
    border-color: white;
   
}
.bottombox {
    background-color: #3882F6;
    display: flex;
    padding: 10px;
    padding: 30px 60px;
    justify-content: space-between;
    color: #E5E7EB;
}
.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
}
.cards-section .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.cards {
    display: flex;
    margin: 30px;
    justify-content: space-between;
    gap: 40px;
}
.box-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    width: 100px;
    

}
.box {
    border-color:#3882F6;
    border-style: solid;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 7px;
}
.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
}
.quote {
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
}
.name {
    text-align: right;
    font-weight: bold;
}
.bottom-section {
    padding: 40px 60px;
  
}
.bottombox .title {
    font-weight: bold;
    font-size: larger;
}
.footer {
    background-color: #1F2937;
    color: white;
    padding: 30px;
    text-align: center;

}